version: '3.8'

services:
  mysql-book:
    image: mysql:8.0
    container_name: mysql-book
    environment: 
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE:  bookdb
      MYSQL_USER: libuser
      MYSQL_PASSWORD: libpassword
    ports:
      - "3307:3306"
    volumes: 
      - mysql-book-data:/var/lib/mysql
    networks:
      - library-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql-book-data: 

networks:
  library-network: 
    driver: bridge