server:
  port: 8888

spring:
  application:
    name: config-server
  
  cloud:
    config:
      server:
        # For development: use native (filesystem) profile
        native:
          search-locations: classpath:/config
        # For production: use git backend
        git:
          uri: ${CONFIG_GIT_URI:https://github.com/your-org/config-repo}
          username: ${CONFIG_GIT_USERNAME:}
          password: ${CONFIG_GIT_PASSWORD:}
          default-label: main
          clone-on-start: true
  
  profiles:
    active: native  # Change to 'git' for production

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh

# TODO: Configure actual Git repository for production
